/*-----------------------------------------------------------------------------------
        A.	CSS Base Styles
        B	Typography
        C.	Links
        D.	Lists
/*-----------------------------------------------------------------------------------        
	1.	Structure
	2.      Page Styles
        3.      Primary Navigation
	4.	Gallery
	5.	Gallery Items
	6.	Native Gallery Elements
	7.	Responsive Inline Images
	8.	Pagination
	9.	Media Elements
	10.	Comment Form Styling
	11.	Contact Form Elements
	12.	Media Queries

-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*
/* A. Base Styles
/*-----------------------------------------------------------------------------------*/
body {
font: 16px/21px Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
-webkit-text-size-adjust: 100%;
color: #fff;
background:#393b3c;
}

/*-----------------------------------------------------------------------------------*
/* B. Typography
/*-----------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6	{
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	color: #fff;
	font-weight: normal;
	text-shadow: 0px 1px 0px rgb(68, 68, 68); }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 34px; }
	.subheader { color: #777; }

p { color: #fff; margin: 0 0 20px 0; line-height: 21px; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #fff;  }

em { font-style: italic; }
strong { font-weight: bold; color: #fff; }
small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 36px; line-height: 42px; color: #fff; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left:5px solid #ccc; }
	blockquote cite { display: block; font-size: 17px; color: #fff; line-height: 24px; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/*-----------------------------------------------------------------------------------*
/* C. Links
/*-----------------------------------------------------------------------------------*/
a, a:visited { color: #ccc; outline: 0; text-decoration:none; -webkit-transition:all 200ms ease-in; -o-transition:all 200ms ease-in; }
a:hover, a:focus { color: #fff; text-decoration:none; }
p a, p a:visited { line-height: inherit; }
	
/*-----------------------------------------------------------------------------------*
/* D. Lists
/*-----------------------------------------------------------------------------------*/
ul, ol { color: #fff; margin-bottom: 20px; }
ul { list-style: square inside;}
ol { list-style: decimal inside; }
ol, ul.square, ul.circle, ul.disc { }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/*-----------------------------------------------------------------------------------*
/* 1. Structure
/*-----------------------------------------------------------------------------------*/

html,body {
	height:100%;
}

* {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.container {
	padding:0;
}

#container-top {
	height:auto;
	margin:0 auto 35px;
	min-height:85%;
}

#fatfooter	{
	padding-top:35px;
	line-height:15px;
	border:none;
	text-align:left;
	background: #000;
}

#fatfooter ul li {
	line-height:15px;
	padding: 12px 0;
	margin-bottom: 0px;
	background: none;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	color:#fff;
	list-style: none;
}

#fatfooter a {
	text-shadow: 1px 2px 1px black;
	color: #BFBFBF;
	line-height:15px;
	text-decoration:none;
}

#fatfooter a:hover {
	text-shadow: 1px 2px 1px black;
	color: #fff;
	text-decoration:none;
}

#fatfooter h4 {
	color: #fff;
}

#footer {
	padding:15px 0px;
	background: #282A2B;
	color: #BFBFBF;
	height:auto;
}

#logo {
	border:none;
	height:auto;
	margin:auto 0;
	max-width:100%;
	text-align:center;
}

#logo a img {
	border:none;
}

#tagline {
	margin-bottom:10px;
	max-width:100%;
	text-align:center;
}

.slider-border {
	-moz-box-shadow:0 0 1px 1px #ccc;
	-webkit-box-shadow:0 0 1px 2px #ccc;
	box-shadow:0 0 1px 1px #ccc;
	filter:alpha(opacity=100);
	opacity:1;
	border:none;
}

.hentry {
	margin-bottom:25px;
}

.image-fade,.attachment-thumbnail {
	-moz-box-shadow:0 0 1px 1px #ccc;
	-moz-transition:opacity .50s ease-in-out;
	-ms-transition:opacity .50s ease-in-out;
	-o-transition:opacity .50s ease-in-out;
	-webkit-box-shadow:0 0 1px 2px #ccc;
	-webkit-transition:opacity .50s ease-in-out;
	box-shadow:0 0 1px 1px #ccc;
	filter:alpha(opacity=100);
	opacity:1;
	transition:opacity .50s ease-in-out;
	border:none;
}

.image-fade:hover,.attachment-thumbnail:hover {
	filter:alpha(opacity=70);
	opacity:0.7;
	border:none;
}

.selectnav,.widget_search .screen-reader-text,#searchsubmit,.sticky,.bypostauthor {
	display:none;
}

/*-----------------------------------------------------------------------------------*
/* 2. Page Styles
/*-----------------------------------------------------------------------------------*/

.clearfix {
	clear:both;
}

.widget-title {
	color:#ccc;
	text-shadow:none;
}

.textwidget {
	color:#ccc;
	padding-bottom:12px;
	text-shadow:none;
}

.textwidget p {
	line-height:21px;
	margin:0 0 20px;
}

.widget_search .assistive-text {
	color:#fff;
	font-family:Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size:21px;
	line-height:30px;
	margin-bottom:4px;
}

#s {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	background:#FFF;
	border:1px solid #CCC;
	border-radius:2px;
	color:#777;
	font:12px Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	width:180px;
}

.page-title,.page-title a {
	border-bottom:none;
	padding-bottom:25px;
	padding-top:25px;
	text-align:center;
}

.entry-title,.entry-title a {
	border-bottom:none;
	margin-left:5px;
	padding-bottom:12px;
	padding-top:12px;
	text-align:center;
}

.entry-title-home,.entry-title-home a {
	border-bottom:none;
	margin-top:5px;
}

.entry-blog-title,.entry-blog-title a {
	border-bottom:none;
	padding-top:25px;
}

.entry-meta {
	text-align:center;
}

.entry-meta-blog {
	padding-bottom:20px;
}

.entry-meta a,.entry-meta-blog a {
	padding-bottom:12px;
}


ul.post-tags a {
	-moz-border-radius:3px;
	-o-transition:all 200ms ease-in;
	-webkit-border-radius:3px;
	-webkit-transition:all 200ms ease-in;
	background:#ccc;
	border-radius:3px;
	color:#000;
	display:inline-block;
	font-size:14px;
	line-height:1em;
	margin-right:8px;
	padding:7px 10px;
}

ul.post-tags li {
	display:inline-block;
	list-style-type:none;
	margin-top:12px;
}

ul.post-tags a:hover {
	-moz-border-radius:3px;
	-o-transition:all 200ms ease-in;
	-webkit-border-radius:3px;
	-webkit-transition:all 200ms ease-in;
	background:#fff;
	border-radius:3px;
	color:#000;
	display:inline-block;
	font-size:14px;
	line-height:1em;
	margin-right:8px;
	padding:7px 10px;
}

li.cat-item {
    list-style-type:none;
 }

.header {
        margin:25px 20px;
	text-align:center;
	font-weight:700;
}

.horizontal-fade {
	background:url(../images/horizontal_fade.png) no-repeat;
	padding:20px 0;
	text-align:center;
}

.horizontal-fade-home {
	background:url(../images/horizontal_fade.png) no-repeat;
	margin-bottom:30px;
	margin-top:30px;
	padding:5px 0;
	text-align:center;
}

.linebreak-blog {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin-bottom:25px;
	background: none;
	padding: 0px;
}

.linebreak-cats {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin-bottom:25px;
	background: none;
	padding: 0px;
}

.linebreak-home {
	border-bottom:1px solid rgba(255,255,255,0.2);
	border-top:1px solid rgba(0,0,0,0.2);
	margin:1.5em 0;
}

.linebreak-comments {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin-bottom:25px;
	background:none!important;
	border-top: 0px!important;
}

.tags {
	padding-bottom:5px;
}

/*-----------------------------------------------------------------------------------*
/* 3. Primary Navigation
/*-----------------------------------------------------------------------------------*/

#primary-nav ul ul {
    padding-top: 18px;
    padding-bottom: 12px;
    background: url(../images/nav-bg-dark.png) no-repeat center top;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width:205px;
}


.sf-menu a {
    color:#fff;
    padding:.75em 1em;
    font-size:16px;
    -webkit-transition:all 200ms ease-in; -o-transition:all 200ms ease-in;
}

.sf-menu a:hover {
    color:#ccc;
    outline:0;
}

li.current-menu-item {
    color:#ccc;
    outline:0;
}

/*-----------------------------------------------------------------------------------*
/* 4. Gallery
/*-----------------------------------------------------------------------------------*/

.sort,.tagline {
	text-align:center;
	width:100%;	
}

ul.filter {
	color:#999;
	list-style:none;
}

ul.filter li {
	display:inline-block;
	margin-right:8px;
}

ul.filter a {
	-moz-border-radius:3px;
	-o-transition:all 200ms ease-in;
	-webkit-border-radius:3px;
	-webkit-transition:all 200ms ease-in;
	background:#ccc;
	border-radius:3px;
	color:#000;
	display:inline-block;
	font-size:11px;
	line-height:1em;
	margin-bottom:8px;
	padding:7px 10px;
	font-size: 14px;
}

ul.filter a:hover,ul.filter a.active {
	-moz-border-radius:3px;
	-o-transition:all 200ms ease-in;
	-webkit-border-radius:3px;
	-webkit-transition:all 200ms ease-in;
	background:#fff;
	border-radius:3px;
	display:inline-block;
	font-size:11px;
	line-height:1em;
	margin-bottom:8px;
	padding:7px 10px;
	font-size: 14px;
}

/*-----------------------------------------------------------------------------------*
/* 5. Gallery Items
/*-----------------------------------------------------------------------------------*/

li.gallery-item img {
	-moz-box-shadow:0 0 1px 1px #ccc;
	-webkit-box-shadow:0 0 1px 2px #ccc;
	box-shadow:0 0 1px 1px #ccc;
	display:inline-block;
	float:left;
	list-style:none;
	margin-bottom:20px;
	margin-right:20px;
	width:210px;
}

li.gallery-item,li.gallery-item img:hover {
	display:inline-block;
	float:left;
	list-style:none;
	margin-bottom:20px;
	margin-right:20px;
	width:210px;
}

/*-----------------------------------------------------------------------------------*
/* 6. Native Gallery Elements
/*-----------------------------------------------------------------------------------*/

.wp-caption {
	margin:10px 20px;
	text-align:center;
}

.wp-caption a {
	display:inline-block;
	padding:5px;
}

.wp-caption.aligncenter {
	margin:20px auto;
}

.wp-caption img,.wp-caption img a {
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
	border:none!important;
}

.wp-caption
.wp-caption-text {
	padding:5px;
}

.wp-caption.alignleft,.wp-caption.alignnone,.gallery-caption {
	margin-left:0;
}

.wp-smiley {
	margin:0;
	max-height:13px;
}

.gallery {
	float:left;
	text-align:center;
	width:100%;
}

.gallery-image {
	border:2px solid #efefef;
	margin-left:0;
}

.gallery-item {
	display:inline-block;
	margin-left:0;
	text-align:center;
}

.gallery-item .gallery-caption {
	margin-bottom:10px;
	padding-right:12%;
}

.gallery-item img {
	padding:0;
	margin-right:20px;
	margin-bottom:20px;
}

.gallery-item a {
	padding:5px;
	float:left;
	margin:0;
	padding:0;
	border:none;
	background:none;
}

/*-----------------------------------------------------------------------------------*
/* 7. Responsive Inline Images
/*-----------------------------------------------------------------------------------*/

.entry-content img,.comment-content img,.widget img {
	max-width:97.5%;
}

img[class*="align"],img[class*="wp-image-"] {
	height:auto;
}

img.size-full {
	max-width:97.5%;
	width:auto;
}

* make sure videos and embeds fit their containers */
embed,iframe,object,video {
	max-width:100%;
}



/*-----------------------------------------------------------------------------------*
/* 8. Pagination
/*-----------------------------------------------------------------------------------*/

.blog-navigation{
    clear: both;
    width: 100%;
}

.pagi-nav, .pagi-prev {
    float:left;
}

.pagi-nav, .pagi-next {
    float:right;
}

.page-navigation {
    clear: both;
    width: 100%;
}

.page-nav, .page-prev a {
    float:left;
    background: #dcdcdd url(../images/arrow-left.gif) 0 0 no-repeat;
    border-radius:2px;
    display: block;
    height: 20px;
    text-decoration: none;
    text-indent: -999em;
    width: 20px;
    opacity:1;
    filter: alpha(opacity=100);
    -webkit-transition:opacity .3s ease-in-out;
    -moz-transition:opacity .3s ease-in-out;
    -ms-transition:opacity .3s ease-in-out;
    -o-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
}

.page-nav, .page-prev a:hover {
    float:left;
    background: #dcdcdd url(../images/arrow-left.gif) 0 0 no-repeat;
    display: block;
    height: 20px;
    text-decoration: none;
    text-indent: -999em;
    width: 20px;
    opacity:0.3;
    filter: alpha(opacity=30);
    border:none;
}

.page-nav, .page-next a {
    float:right;
    background: #dcdcdd url(../images/arrow-right.gif) 0 0 no-repeat;
    border-radius: 2px;
    display: block;
    height: 20px;
    text-decoration: none;
    text-indent: -999em;
    width: 20px;
    opacity:1;
    filter: alpha(opacity=100);
    -webkit-transition:opacity .3s ease-in-out;
    -moz-transition:opacity .3s ease-in-out;
    -ms-transition:opacity .3s ease-in-out;
    -o-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
}

.page-nav, .page-next a:hover {
    float:right;
    background: #dcdcdd url(../images/arrow-right.gif) 0 0 no-repeat;
    border-radius: 2px;
    display: block;
    height: 20px;
    text-decoration: none;
    text-indent: -999em;
    width: 20px;
    opacity:0.3;
    filter: alpha(opacity=30);
    border:none;
}


/*-----------------------------------------------------------------------------------*
/* 9. Media Elements
/*-----------------------------------------------------------------------------------*/

.alignleft {
	float:left;
}

.alignright {
	float:right;
}

.aligncenter {
	clear:both;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.clear {
	clear:both;
	display:block;
	line-height:0;
	width:100%;
}

.entry-content {
	margin-bottom:25px;
	max-width:100%;
}

.entry-tag-content {
	margin-bottom:25px;
	max-width:100%;
	padding-top:12px;
}

img.alignleft {
	-moz-box-shadow:0 1px 3px rgba(0,0,0,.12);
	-o-box-shadow:0 1px 3px rgba(0,0,0,.12);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,.12);
	border:1px solid #c6c9cb;
	box-shadow:0 1px 3px rgba(0,0,0,.12);
	float:left;
	margin:0px 25px 20px 0px;
	padding: 0px!important;
}

img.alignright {
	-moz-box-shadow:0 1px 3px rgba(0,0,0,.12);
	-o-box-shadow:0 1px 3px rgba(0,0,0,.12);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,.12);
	border:1px solid #c6c9cb;
	box-shadow:0 1px 3px rgba(0,0,0,.12);
	display:block;
	float:right;
	margin:0 0 20px 25px;
	padding: 0px!important;
}

img.aligncenter {
	-moz-box-shadow:0 1px 3px rgba(0,0,0,.12);
	-o-box-shadow:0 1px 3px rgba(0,0,0,.12);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,.12);
	border:1px solid #c6c9cb;
	box-shadow:0 1px 3px rgba(0,0,0,.12);
	clear:both;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding: 0px!important;
}

img.alignnone {
	display:block;
	margin:10px 0;
}

a img.alignright {
	float:right;
	margin:0 0 1em 1em;
}

a img.alignleft {
	float:left;
	margin:0 1em 1em 0;
}

a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/*-----------------------------------------------------------------------------------*
/* 10. Comment Form Styling
/*-----------------------------------------------------------------------------------*/

h3#reply-title {
	font-size:24px;
}

h4.comments {
  margin-bottom: 25px;
}

#comments {
	margin-top:0px;
	float:left;
	width:100%;
}

p.comment-form-comment label {
	font:14px;
	margin-bottom:5px;
}

p.coment-form-author label,p.comment-form-email label,p.comment-form-url label {
	font-size:14px;
}

.form,p.comment-form-comment textarea#comment {
	height:120px;
	width:600px;
}

#comments ul.children,p.comment-form-author,p.comment-form-email,p.comment-form-url,p.comment-form-comment {
	font-size:14px;
	margin-bottom:5px;
}


/*-----------------------------------------------------------------------------------*
/* 11. Contact Form Elements
/*-----------------------------------------------------------------------------------*/

ul.contactform {
	list-style-type:none;
}

.contactform li textarea {
	height:200px;
	list-style-type:none;
	margin-bottom:15px;
	width:90%;
}

.contactform li input[type="text"] {
	list-style-type:none;
	margin-bottom:15px;
	width:300px;
}

.contactform li .input-title {
	list-style-type:none;
	margin-bottom:5px;
}

.contactform li .error {
	color:red;
	list-style-type:none;
}

.contactform li .thanks {
	font-weight:700;
	list-style-type:none;
}

.clientnav {
    display:block;
    width:35%;
    height:30px;
    margin:0 auto 25px;
}

.clientform {
    text-align:center;
  }



/*-----------------------------------------------------------------------------------*
/* 12. Media Queries
/*-----------------------------------------------------------------------------------*/

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
            
.flexslider {
	margin-top:25px!important;
}
            
.horizontal-fade {
	display:none;
}
            
.entry-thumb img{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}
	
.entry-thumb img:hover{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}

.entry-thumb-home img{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}
	
.entry-thumb-home img:hover{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}

.gallery-item{
	width: 400px;
	height: auto;	
	text-align:center;
}
      
.gallery .gallery-item img {
	min-width:100%;
	height:auto;
	text-align:center;
}
      
.js #nav {
	display: none;
}

.js .selectnav {
	display:block;
	width:50%;
	height:30px;
	margin:0 auto;
}
	
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
		
.gallery-item { 
	display: inline-block;
	text-align: center;
}
            
.flexslider {
	margin-top:25px!important;
}
   
.entry-thumb img{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
	border:none;
	background:none;
}
	
.entry-thumb img:hover{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
	border:none;
	background:none;
}

.entry-thumb-home img{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
	border:none;
	background:none;
}
	
.entry-thumb-home img:hover{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
	border:none;
	background:none;
}
	
.gallery-item{
	width: 400px;
	height: auto;	
	text-align:center;
}
      
.gallery .gallery-item img {
	min-width:400px;
	height:auto;
	text-align:center;
	margin-bottom:25px;
}
        
select.selectnav {
	display: inline-block;
	float:none;
}

.js #nav {
	display: none;
}

.js .selectnav {
	display: block;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
		
.flexslider {
	margin-top:25px!important;
}
        
.entry-thumb img{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}
	
.entry-thumb img:hover{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}

.entry-thumb-home img{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}
	
.entry-thumb-home img:hover{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}
	
.gallery-item{
	width: 100%;
	height: auto;	
	text-align:center;
}
      
.gallery .gallery-item img {
	min-width:400px;
	height:auto;
	text-align:center;
	margin-bottom:25px;
}
            
select.selectnav {
	display: inline-block;
	float:none;
}
	
.js #nav {
	display: none;
}

.js .selectnav {
	display: block;
}

.image-fade {
	opacity:1;
	filter: alpha(opacity=100);
	-webkit-transition:opacity .3s ease-in-out;
	-moz-transition:opacity .3s ease-in-out;
	-ms-transition:opacity .3s ease-in-out;
	-o-transition:opacity .3s ease-in-out;
	transition:opacity .3s ease-in-out;
	border:none;
	}

.image-fade:hover { 
	opacity:0.7;
	filter: alpha(opacity=70);
	border:none;
}
           
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

h1 {
font-size: 28px;
line-height: 40px;
margin-bottom: 10px;
}

h2 {
font-size: 28px;
line-height: 40px;
margin-bottom: 10px;
}
	
.page-title,.page-title a {
	border-bottom:none;
	padding-bottom:0px;
	padding-top:25px;
	text-align:center;
}
	  
#sort{
	display:none;
}
	
li.gallery-item img{
	width: 400px;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}
	
li.gallery-item img:hover{
	width: 400px;
	height: auto;
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}
		
.gallery-item { 
	display: inline-block;
	text-align: center;
}
		
.flexslider {
	margin-top:25px!important;
}
        
.entry-thumb img{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
	margin-top: 0px;
}
	
.entry-thumb img:hover{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
	margin-top: 0px;
}

.entry-thumb-home img{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
	margin-top: 25px;
}
	
.entry-thumb-home img:hover{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
	margin-top: 25px;
}
	
.gallery .gallery-item img {
	min-width:400px;
	height:auto;
	text-align:center;
	margin-bottom:25px;
}

.js #nav {
	display: none;
}

.js .selectnav {
	display: block;
}
        
select.selectnav {
	display: inline-block;
	float:none;
}

.image-fade {
	opacity:1;
	filter: alpha(opacity=100);
	-webkit-transition:opacity .3s ease-in-out;
	-moz-transition:opacity .3s ease-in-out;
	-ms-transition:opacity .3s ease-in-out;
	-o-transition:opacity .3s ease-in-out;
	transition:opacity .3s ease-in-out;
	border:none!important;
}

.image-fade:hover { 
	opacity:0.7;
	filter: alpha(opacity=70);
	border:none!important;
}
        
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	
h1 {
font-size: 28px;
line-height: 40px;
margin-bottom: 10px;
}

h2 {
font-size: 28px;
line-height: 40px;
margin-bottom: 10px;
}

.page-title,.page-title a {
	border-bottom:none;
	padding-bottom:0px;
	padding-top:25px;
	text-align:center;
}
	  
#sort{
	display:none;
}
	
li.gallery-item img{
	width: 300px;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}
	
li.gallery-item img:hover{
	width: 300px;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}
		
.gallery-item { 
	display: inline-block;
	text-align: center;
}
            
.flexslider {
	margin-top:25px!important;
}
        
.entry-thumb img{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
	margin-top: 0px;
}
	
.entry-thumb img:hover{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
	 margin-top: 0px;
}

.entry-thumb-home img{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
	margin-top: 25px;
}
	
.entry-thumb-home img:hover{
	width: 100%;
	height: auto;	
	text-align:center;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	-webkit-box-shadow: 0 0 1px 2px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
	 margin-top: 25px;
}
	
.gallery .gallery-item img {
	min-width:300px;
	height:auto;
	text-align:center;
	margin-bottom:25px;
}
  
.js #nav {
	display: none;
}

.js .selectnav {
	display: block;
	text-align:center;
}

select.selectnav {
	display: inline-block;
	float:none;
}

.image-fade {
	opacity:1;
	filter: alpha(opacity=100);
	-webkit-transition:opacity .3s ease-in-out;
	-moz-transition:opacity .3s ease-in-out;
	-ms-transition:opacity .3s ease-in-out;
	-o-transition:opacity .3s ease-in-out;
	transition:opacity .3s ease-in-out;
	border:none!important;
}

.image-fade:hover { 
	opacity:0.7;
	filter: alpha(opacity=70);
	border:none!important;
	}    
}